@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html {
    scroll-behavior: smooth;
}

.main {
    height: 100vh;
    background-image: url(../Images/main-bg-hd.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Navbar Section */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: background-color 0.5s ease;
}

.logo img {
    width: 120px;
    height: 50px;
    margin-left: 20px;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
    color: rgb(250 151 70 / 67%);
    font-size: 1.3rem;
    transition-duration: 0.2s;
}

nav a:hover {
    color: rgb(250, 151, 70);
    text-decoration: underline;
    transform: scale(1.08);
}

#navbar nav a.active {
    color: rgb(250, 151, 70);
    text-decoration: underline;
    transform: scale(1.08);
}

#navbar button {
    cursor: pointer;
    margin-right: 15px;
    background-color: rgb(105 158 238);
    color: white;
    border: 2px solid rgb(65, 134, 238);
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    transition-duration: 0.2s;
}

#navbar button:hover {
    color: rgb(250, 151, 70);
    background-color: rgba(218, 218, 218, 0);
    border: 2px solid rgb(250, 151, 70);
    border-radius: 10px;
    transform: scale(1.08);
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 90vh;
}

/* Main Section */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    background-color: #d4e5f999;
    color: #699eee;
    border-radius: 60px;
}

span {
    color: #fa9746;
}

.info h1 {
    font-size: 75px;
}

.info h2 {
    font-size: 25px;
}

.info h3 {
    font-size: 20px;
    letter-spacing: 2px;
    color: #7bcfa0;
}

.info h1,
h2,
h3 {
    padding: 8px;
    margin-right: 20px;
}

/* Portfolio Section */
.portfolio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h1 {
    padding: 20px 0px;
    color: #699EEE;
}

.card-box {
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
    width: 90vw;
    background-color: #f3f3f3db;
    border-radius: 10px;
    box-shadow: 2px 2px 6px gray
}

.card {
    width: 30%;
    border: 2px solid gray;
    transition-duration: 0.2s;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 2px 2px 6px gray;
    transform: scale(1.01);
}

.card-img {
    width: 100%;
    height: 40%;
}

.card-img img {
    width: 365px;
    height: 190px;
}

.card-info {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    cursor: pointer;
    background-color: rgb(105 158 238);
    color: white;
    border: 2px solid rgb(65, 134, 238);
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    transition-duration: 0.2s;
    width: 100px;
    margin-top: 15px;
}

.btn:hover {
    color: rgb(250, 151, 70);
    background-color: rgba(218, 218, 218, 0);
    border: 2px solid rgb(250, 151, 70);
    border-radius: 10px;
    transform: scale(1.08);
}

/* About Section */
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1 {
    padding: 20px 0px;
    color: #699EEE;
}

.about-cont {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f3f3db;
    border-radius: 10px;
    box-shadow: 2px 2px 6px gray
}

.about-cont-box {
    width: 50%;
    height: 301px;
    display: flex;
    justify-content: space-evenly;
}

.about-cont-box img {
    border-radius: 0px 20px 0px 0px;
    box-shadow: 0px 0px 19px gray;
    margin-top: -10px;
}

.personal-info {
    display: flex;
    align-items: center;
}

.personal-box {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    padding: 8px;
}

#about-info {
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 20px;
}

.skills {
    width: 100%;
    height: 50%;
    padding: 30px 10px;
}

.skill-container {
    width: 100%;
    background: #ddd;
}

.skill {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    width: 60%;
    background-color: #4CAF50;
}

.css {
    width: 40%;
    background-color: #2196F3;
}

.php {
    width: 20%;
    background-color: #808080;
}